<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Nouvelle notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p></p>
  <ion-item>
    <ion-input type="text" label="Titre : " [(ngModel)]="notif.titre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Description : " [(ngModel)]="notif.descr"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="date" label="Date (JJ/MM/AAAA) : " [(ngModel)]="notif.jour"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="time" label="Heure (FR, 00:00) : " [(ngModel)]="notif.heure"></ion-input>
  </ion-item>
  <p class="ion-text-center">
    <br>
    <br>
    <ion-button (click)="add()">Créer</ion-button>
  </p>
</ion-content>

